.backgroundnavimage{
    background-image: url("public/assets/test.jpg");
    background-size: cover;
}

.backgroungimage{
    padding-top: 10.5rem;
    padding-bottom: 6rem;
    text-align: center;
    color: #fff;
    background-image: url("../assets/fond-3.jpg");
    background-repeat: repeat;
}

.test{
    width: 500px;
    background-color: black;
}
