{% extends 'base.html.twig' %}

{% block title %}Hello QuizzController!{% endblock %}

{% block body %}
<div class="example-wrapper">
    {% for question in quizz.data %}
        <li>{{ question.question }}</li>
        {% for reponse in question.answers %}
            <li>{{ reponse }}</li>
        {% endfor %}
    {% endfor %}
</div>
{% endblock %}
